body{
  background-color: inherit;
}
.content{
  color: #277BC0;
}

.h
{
  color: #ECB390;
}
.ha{
  color: #ECB390;
}
.s{
  color:#C64756;
}
.s1{
  color:#C64756;
}
.s2{
  color:#C64756;
}
.r{
  color:#FB743E;
}
.r1{
  color:#37E2D5;
}
.r2{
  color:#37E2D5;
}
.r3{
  color:#37E2D5;
}
.l
{
  color: #F10086;
}
.o{
  color:#5D8BF4
}
